<div class="aboutUsContainer">
    <div class="foto">
        <img src="../assets/images/fotoheader.jpg" alt="">
    </div>
    <div class="text">Mein Prinzip: Der Mensch steht im Mittelpunkt.
        Bei meiner Wellness Tätigkeit geht es vor allem darum, mit individuellen Lösungen für Ihre Gesundheit und Ihre
        persönliches Wohlbefinden zu sorgen.
        Moderne Massagen, regelmäßige Fortbildungen und der Blick aktuelle Behandlungsmethoden sind für mich dabei eine
        Selbstverständlichkeit.
        Genießen Sie unseren Service!!! <br>
        Von hocheffektive, innovative Anti-Aging Behandlungen bis hin zu klassischen Massagen.<br>
        <br>
        Wir freuen uns auf ihren Besuch.<br>
        Oksana Lux- Koval <br>
        Wellnessberaterin ( IHK )
        <br>
        Keine regulare Öffnungszeiten.
        Termine nach Vereinbarung
        017656844428</div>

</div>