<div class="catalog">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Zeichnung</th>
                    <th scope="col">Price</th>
                    <th scope="col">Dauer</th>
    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Wellness für den „Mann“</td>
                    <td>Relax-Massage mit Massageöl Q10
                        +Gesichtsbehandlung mit Spirulina Intensiv Pflege
                        ( Reinigung, Peeling, Gesichtsmassage, Tages-, Nachtpflege)
                    </td>
                    <td><img src="../assets/images/1.jpg" alt=""></td>
                    <td>80,00 €</td>
                    <td>90 min</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Luxus-Lift Behandlung</td>
                    <td>Gesichtsbehandlung mit Intensiv Pflege
                        ( Reinigung, Peeling, Chiro- Gesichtsmassage, “Caviar Mask“ oder „Collagen Mask“ Biocomplex PLUS
                        Double Rich Formula, Tages-, Nachtpflege)
                    </td>
                    <td><img src="../assets/images/2.jpg" alt=""></td>
                    <td>80,00 €</td>
                    <td>90 min</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>3. Diamant Mikrodermabrasion</td>
                    <td>-
                    </td>
                    <td></td>
                    <td>60,00 €</td>
                    <td>90 min</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>4. Microneedling</td>
                    <td>
                    </td>
                    <td><img src="../assets/images/4.jpg" alt=""></td>
                    <td>70,00 €</td>
                    <td>60 min</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Der FRISCHE KICK mit Sofort-Effekt</td>
                    <td>Beauty Peel ohne Schälung
                        Die Power der Natur
                        -Volumen,
                        -Elastizität,
                        -Spannkraft,
                        -Ausstrahlung.
    
                    </td>
                    <td><img src="../assets/images/5.jpg" alt=""></td>
                    <td>80,00 €</td>
                    <td>90 min</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Kaltlasertherapie“Vita Control“</td>
                    <td>Schmerzlose Infrarot Kaltlasertherapie
                        +Hyaluron-Interzellulargel
                        -weniger Falten und eine schönere Haut
                    </td>
                    <td><img src="../assets/images/6.jpg" alt=""></td>
                    <td>130,00 €</td>
                    <td>80 min</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Сombi Rücken Massage (intensiv)</td>
                    <td>-mit Honig
                        -Schröpfkopfmassage
                        -mit Moorpackung
    
                    </td>
                    <td><img src="../assets/images/11.jpg" alt=""></td>
                    <td>40,00 €</td>
                    <td>45 min</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Klassische Rücken Massage</td>
                    <td>
                    </td>
                    <td><img src="../assets/images/22.jpg" alt=""></td>
                    <td>30,00 €</td>
                    <td>30 min</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Klassische Ganzkörper Massage</td>
                    <td>
                    </td>
                    <td><img src="../assets/images/33.jpg" alt=""></td>
                    <td>50,00 €</td>
                    <td>60 min</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Sportmassage </td>
                    <td>
                    </td>
                    <td><img src="../assets/images/44.jpg" alt=""></td>
                    <td>50,00 €</td>
                    <td>60 min</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Fuß- und Bein Massage</td>
                    <td>
                    </td>
                    <td><img src="../assets/images/55.jpg" alt=""></td>
                    <td>30,00 €</td>
                    <td>30 min</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Rücken-,Nacken-,Beinmassage</td>
                    <td>
                    </td>
                    <td><img src="../assets/images/66.jpg" alt=""></td>
                    <td>50,00 €</td>
                    <td>60 min</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Lomi Lomi Massage</td>
                    <td>(Lomi Lomi Nui auch genannt ( Traditionelle hawaiianische Massage ), ist eine Massageform, die
                        aus Hawaii stammt. Sie ähnelt in ihrer Ursprungsform eher therapeutischer Körperarbeit als einer
                        Massage.)
                    </td>
                    <td><img src="../assets/images/77.jpg" alt=""></td>
                    <td>55,00 €</td>
                    <td>60 min</td>
                </tr>
            </tbody>
        </table>
    </div>