/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerMain{
    width: 100%;
    margin: 10px auto;
}
body{
    background-color: rgba(255,203,239,0.2);
}